<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        >
<head>
    <title>Login</title>
</head>
<body>
<h1>
    <span>Login</span>
</h1>

<form action="j_security_check" method="post">
    <table>
        <tr>
            <td>User:</td>
            <td><input type='text' name='j_username' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='j_password'/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>

</form>
</body>
</html>
